.footer_container {
    display: flex;
    align-items: flex-end;
    font-size: small;
    font-weight: 500;
}
.footer_container p {
    padding: 7px;
    border-radius: 7px;
    background-color: var(--color-bg-variant);
}